# Disable server signature start
ServerSignature Off

# Disable server signature end

# Disable directory browsing
Options All -Indexes

# Prevent folder listing
IndexIgnore *

# Prevent access to htaccess file
<Files .htaccess>
    order allow,deny
    deny from all
</Files>

DirectoryIndex index.php

# Rewrite engine start
RewriteEngine On

# Handle Authorization Header
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Route API requests to api.php
RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^api/(.*)$ api.php [L,QSA]

# Handle other requests normally
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
